.profilePosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 25px;
}

.postBox {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background: linear-gradient(145deg,
            rgba(17, 24, 39, 0.95),
            rgba(9, 14, 26, 0.95));

    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: transform 0.2s ease;
}

.postBox:hover {
    transform: scale(1.02);
}

.postBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.unsaveBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.postBox:hover .unsaveBtn {
  opacity: 1;
}

.unlikeBtn{
    position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.postBox:hover .unlikeBtn{
    opacity: 1;
}