.forgotMain{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #2575fc, #11cbaf);
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgotForm{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forgotForm h2{
    text-align: center;
    margin: 5% 2%;
}
.forgotEmail{
    width: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.forgotEmail input{
    width: 100%;
    padding: 4% 2%;
    margin-top: 2%;
    border-radius: 4%;
    border: 1px solid #aaa;
    font-size: 85%;
}
.forgetBtn {
    width: 50%;
    padding: 2%;
    border-radius: 4%;
    border: none;
    background-color: #2575fc;
    color: white;
    font-size: 90%;
    cursor: pointer;
    margin: 4%;
}

.forgetBtn:hover {
    background-color: #1a5edb;
}

@media (max-width:900px) {
    .forgotForm{
        width: 85%;
    }
    .forgotEmail{
        width: 90%;
        margin-bottom: 2%;
    }
    .forgetBtn{
        width: 90%;
        padding: 4% 2%;
    }
}